<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ng-news</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div data-ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" data-ng-submit="submitPost()" data-ng-show="signedIn()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" data-ng-model="post.title">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Link" data-ng-model="post.url">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li data-ng-show="signedIn()">
        <p class="navbar-text">{{ user.profile.username }}</p>
      </li>
      <li data-ng-show="signedIn()">
        <a data-ui-sref="users({ userId: user.profile.uid })">
          <img data-ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />
          {{ currentUser.username }}
        </a>
      </li>
      <li data-ng-show="signedIn()">
        <a href="#" data-ng-click="logout()">Logout</a>
      </li>
      <li data-ng-hide="signedIn()">
        <a data-ui-sref="login">Login</a>
      </li>
      <li data-ng-hide="signedIn()">
        <a data-ui-sref="register">Register</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>